<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.soferio.minertimer</string>
    <key>CFBundleName</key>
    <string>MinerTimer</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.15</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>NSAppleEventsUsageDescription</key>
    <string>MinerTimer needs to monitor processes</string>
    <key>NSSystemAdministrationUsageDescription</key>
    <string>MinerTimer needs to manage processes</string>
</dict>
</plist> 